*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}



body{

background:#0F172A;

color:white;

}



.container{

padding:50px;

}



.header{

text-align:center;

margin-bottom:50px;

}



.header h1{

font-size:40px;

margin-bottom:10px;

}



.header p{

color:#94A3B8;

}




.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:50px;

}



.card{

background:#1E293B;

padding:30px;

border-radius:20px;

text-align:center;

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card h1{

margin-top:15px;

color:#3B82F6;

}





.section{


background:#1E293B;

padding:40px;

border-radius:20px;

margin-bottom:40px;

}



.section h2{

margin-bottom:40px;

}




.bars{

display:flex;

justify-content:space-around;

align-items:flex-end;

height:250px;

}



.bar{

text-align:center;

}



.fill{

width:50px;

background:#2563EB;

border-radius:10px;

}



.one{

height:180px;

}



.two{

height:140px;

}



.three{

height:110px;

}



.four{

height:90px;

}



.five{

height:70px;

}



.bar p{

margin-top:15px;

}




.prediction{


background:#1E293B;

padding:40px;

border-radius:20px;

text-align:center;

}



.prediction p{

margin-top:20px;

color:#94A3B8;

}



.prediction h1{

margin:20px 0;

color:#3B82F6;

}



.prediction span{

color:#10B981;

font-weight:bold;

}