*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}


body{

background:#0F172A;

color:white;

}



.container{

padding:50px;

}



.header{

text-align:center;

margin-bottom:40px;

}



.header h1{

font-size:40px;

}



.header p{

margin-top:10px;

color:#94A3B8;

}





.complaint-form{


background:#1E293B;

padding:35px;

border-radius:20px;

margin-bottom:40px;

}



.complaint-form h2{

margin-bottom:25px;

}



input,
select,
textarea{


width:100%;

padding:15px;

margin-bottom:20px;

background:#111827;

border:none;

border-radius:10px;

color:white;

}



textarea{

height:120px;

resize:none;

}



button{


width:100%;

padding:15px;

background:#2563EB;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

font-size:16px;

}



button:hover{


background:#1D4ED8;

}




.history{


background:#1E293B;

padding:35px;

border-radius:20px;

}




.history h2{

margin-bottom:25px;

}




.complaint-card{


background:#111827;

padding:20px;

margin-bottom:20px;

border-radius:15px;

}



.complaint-card h3{

margin-bottom:10px;

}



.complaint-card p{

color:#94A3B8;

margin-bottom:10px;

}



.pending{


background:#EF4444;

padding:8px 15px;

border-radius:20px;

}



.progress{


background:#F59E0B;

padding:8px 15px;

border-radius:20px;

}



.resolved{


background:#10B981;

padding:8px 15px;

border-radius:20px;

}