*{

margin:0;
padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}


body{

background:var(--background);

display:flex;

justify-content:center;

align-items:flex-start;

min-height:100vh;

}
.container{

width:100%;
max-width:480px;

margin:0 auto;

min-height:100vh;

padding:20px;

padding-bottom:180px;

overflow-y:auto;

box-sizing:border-box;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:10px 0;

margin-bottom:20px;

}