*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}



body{

background:#0F172A;

color:white;

}



.container{

padding:50px;

}



.header{

text-align:center;

margin-bottom:40px;

}



.header h1{

font-size:42px;

margin-bottom:10px;

}



.header p{

color:#94A3B8;

}




.search-box{

display:flex;

justify-content:center;

margin-bottom:50px;

}



.search-box input{


width:400px;


padding:15px;


border:none;


border-radius:12px;


background:#1E293B;


color:white;


font-size:16px;


outline:none;


}




.notice-grid{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:30px;


}




.notice-card{


background:#1E293B;


padding:30px;


border-radius:20px;


box-shadow:0 5px 15px rgba(0,0,0,.3);


transition:.3s;


}



.notice-card:hover{


transform:translateY(-8px);


}




.notice-card h2{


margin:20px 0;


}



.notice-card p{


color:#94A3B8;


line-height:28px;


margin-bottom:20px;


}




.date{


color:#3B82F6;


font-weight:600;


}





.tag{


display:inline-block;


padding:8px 15px;


border-radius:20px;


font-size:13px;


font-weight:bold;


}




.mess{

background:#2563EB;

}



.event{

background:#10B981;

}



.water{

background:#06B6D4;

}



.exam{

background:#F59E0B;

}