*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}



body{

display:flex;

background:#0F172A;

color:white;

}




.sidebar{

width:260px;

height:100vh;

background:#111827;

padding:30px;

}



.sidebar h2{

margin-bottom:40px;

}



.sidebar ul{

list-style:none;

}



.sidebar li{

padding:15px;

margin-bottom:15px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}



.sidebar li:hover{

background:#1E293B;

transform:translateX(5px);

}



.active{

background:#2563EB;

}





.main{

flex:1;

padding:40px;

}



.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}



.bell{

position:relative;

}



.bell i{

font-size:25px;

}



.bell span{

position:absolute;

top:-8px;

right:-8px;

background:red;

width:18px;

height:18px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:10px;

}




.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:40px;

}



.card{

background:#1E293B;

padding:30px;

border-radius:20px;

text-align:center;

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card h1{

margin-top:15px;

color:#3B82F6;

}





.sections{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

}



.leave-box,
.visitor-box{

background:#1E293B;

padding:30px;

border-radius:20px;

}



.leave-card{

margin-top:20px;

}



.leave-card p{

margin:10px 0;

color:#94A3B8;

}



button{

padding:10px 20px;

border:none;

border-radius:10px;

cursor:pointer;

margin-right:10px;

margin-top:15px;

}



.approve{

background:#10B981;

color:white;

}



.reject{

background:#EF4444;

color:white;

}



.visitor-box p{

margin:15px 0;

color:#94A3B8;

}